@font-face
  font-family 'NotoSansCJK-VF'
  src url('../assets/font/NotoSansCJKsc-VF.ttf')
  font-display block

*
  box-sizing border-box

body
  margin 0
  font-family 'NotoSansCJK-VF'
  line-height 1
  color var(--color)
  background var(--bg)
  user-select none
  width 100vw
  height 100vh
  overflow hidden

::selection
  background var(--theme)
  color var(--theme-color)

::-webkit-scrollbar
  width 16px
  height 16px
::-webkit-scrollbar-thumb
  background #8881
  &:hover
    background #8884
  &:active
    background #8882