:root
  --anima-in cubic-bezier(0, 1, 0, 1)
  --anima-out cubic-bezier(1, 0, 1, 0)

  --color #000
  --color-4 #0004
  --bg #fff
  --bg-4 #fff4
  --bg-8 #fff8

  --red #c00
  --red-active #c008

  --btn-bg #0002
  --btn-bg-hover #0001
  --btn-bg-active #fff8
  --btn-border #0003
  --btn-border-hover #0001
  --btn-border-active #0006

  --input-bg #0002
  --input-bg-hover #0001
  --input-bg-active #fff8
  --input-border #0003
  --input-border-hover #0001
  --input-border-active #0006

  --list-1 #fff2
  --list-2 #eee2
  --list-1h #ddd4
  --list-2h #ccc4

  @media (prefers-color-scheme: dark)
    --color #ddd
    --color-4 #ddd4
    --bg #000
    --bg-4 #0004
    --bg-8 #0008

    --btn-bg #fff2
    --btn-bg-hover #fff1
    --btn-bg-active #0008
    --btn-border #fff3
    --btn-border-active #fff6

    --input-bg #fff2
    --input-bg-hover #fff1
    --input-bg-active #0008
    --input-border #fff3
    --input-border-hover #fff1
    --input-border-active #fff6

    --list-1 #0002
    --list-2 #1112
    --list-1h #2224
    --list-2h #3334

    --grid-hover #1118
    --grid-active #1114