@import '../../../shared/styles/_var'
@import '../../../shared/styles/_base'

@import '../../../shared/styles/_components/**/*'

// TODO: Uncomment the next line
// after adding a style file to the _include directory
// @import '_includes/**/*'

@import '../../../shared/styles/_pages'
@import '../../../shared/styles/_titlebar'
@import '../../../shared/styles/_background'
