.titlebar#titlebar
  .titlebar-buttons#titlebar-buttons
  img.app-icon(src="../../shared/assets/icon.svg")
  .app-title#app-title
    ui-lang.app-name app.name
    .app-state#app-state
  .titlebar-flex#titlebar-flex
  .titlebar-avatar#titlebar-avatar
.window-controls#window-controls-container
  .titlebar-buttons#window-controls
  .window-control#window-minimize
    .icon.icon-ChromeMinimize
  .window-control#window-resize
    .window-control-icon-maximize
      .icon.icon-ChromeMaximize
    .window-control-icon-restore
      .icon.icon-ChromeRestore
  .window-control.window-control-close#window-close
    .icon.icon-ChromeClose
